<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <!--<add id="SamJ" title="SamJ" module="SamJ_Instagram" sortOrder="100" resource="SamJ_Instagram::instagram"/>-->
    </menu>
</config>